.formulario {
    p {
        font-size: 1.4rem;
        color: $grisOscuro;
        margin: 2rem 0 0 0;
    }

    legend {
        font-size: 2rem;
        color: $grisOscuro;
    }

    label {
        font-weight: $bold;
        text-transform: uppercase;
        display: block;
    }

    input:not([type="submit"]),
    textarea,
    select {
        padding: 1rem;
        display: block;
        width: 100%;
        background-color: $blanco;
        border: 1px solid $gris;
        border-radius: 1rem;
        margin-bottom: 2rem;
        outline: none;
    }
    textarea {
        height: 10rem;
        resize: none;
    }

    /*.forma-contacto {
        max-width: 20rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    input[type="radio"] {
        margin: 0;
        height: 1.5rem;
        cursor: pointer;
        background-color: $verde;
        border-color: $verde;
    }

    input[type="radio"]:checked {
        background-color: $verde;
        border-color: $verde;
    }*/
}

.forma-contacto {
    max-width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input[type="radio"] {
        margin: 0;
        height: 1.5rem;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 1.5rem;
        height: 1.5rem;
        border: 2px solid $verde;
        border-radius: 50%;
        position: relative;
        background-color: transparent;
        outline: none;

        &::before {
            content: '';
            display: block;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: $verde;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        &:checked::before {
            opacity: 1;
        }
    }
}
